
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}


.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  max-width: 100%;
  border-radius: 10px;
}

.recipe-card h3 {
  font-size: 16px;
}

.recipe-card p {
  font-size: 14px;
  color: #666;
}

.recipe-card button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.recipe-card button:hover {
  background-color: #45a049;
}

.featured-recipe {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.featured-recipe img {
  max-width: 40%;
  border-radius: 10px;
  margin-right: 20px;
}

.featured-recipe .details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.featured-recipe .details p {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.featured-recipe .details button {
  padding: 10px 20px;
  background-color: #ffcd3c;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.featured-recipe .details button:hover {
  background-color: #ffa800;
}